@using Microsoft.AspNetCore.Components
@model IEnumerable<To_Do_List.Models.DTOs.ToDoTaskDTO>

@{
    ViewData["Title"] = "To-Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";

    string orderByDate = TempData["orderBy"] is not null && TempData["orderBy"].ToString() == "Date" ? "DateDesc" : "Date";
    string orderByPriority = TempData["orderBy"] is not null && TempData["orderBy"].ToString() == "Priority" ? "PriorityDesc" : "Priority";
    TempData.Keep("orderBy");

    TempData.Keep("isUnfinished");
    bool isUnfinished = TempData["isUnfinished"] is not null ? (bool)TempData["isUnfinished"] : false;
    

}

<h1>Your Tasks List</h1>

<p>
    <a class="btn btn-success" asp-action="AddTask">Add New Task</a>
    @if (!isUnfinished){
        <a class="btn btn-success" asp-action="List" asp-route-isUnfinished="true">Show only unfinished tasks</a>
    }
    else{
        <a class="btn btn-success" asp-action="List" asp-route-isUnfinished="false">Show all tasks</a>
    }

</p>



<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                <a asp-controller="Tasks" asp-action="List" asp-route-OrderBy=@orderByDate>@Html.DisplayNameFor(model => model.Date)</a>
            </th>
            <th>
                <a asp-controller="Tasks" asp-action="List" asp-route-OrderBy=@orderByPriority>@Html.DisplayNameFor(model => model.Priority)</a>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            string bgColor = item.Done ? "bg-success" : "bg-danger";

            <tr class="bg-opacity-10 @bgColor">
                <td>
                    <b>
                        @Html.DisplayFor(modelItem => item.Title)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @if (!item.Done)
                    {
                        <a asp-action="Done" asp-route-id="@item.TaskId"><button class="btn btn-success">Done</button></a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
