@model IEnumerable<To_Do_List.Models.DTOs.ToDoTaskDTO>

@{
    ViewData["Title"] = "To-Do List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Your Tasks List</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Priority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            string bgColor = item.Done ? "bg-success" : "bg-danger";

            <tr class="bg-opacity-10 @bgColor">
                <td>
                    <b>
                        @Html.DisplayFor(modelItem => item.Title)
                    </b>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Priority)
                </td>
                <td>
                    @if (!item.Done)
                    {
                        <a asp-action="Done" asp-route-id="@item.TaskId"><button class="btn btn-success">Done</button></a>
                    }
                </td>
        </tr>
}
    </tbody>
</table>
